<div class="row projects">
	    	<div class="col-md-4 project-item">
	    		<h3>Recipe One Headline</h3>
                    <hr />
                    <span>A detailed description on the project or nature of your work, role and skills learned.</span>
	    	</div>
	    	<div class="col-md-4 project-item">
		    	<h3>Recipe Two Headline</h3>
	                    <hr />
	                    <span>A detailed description on the project or nature of your work, role and skills learned.</span>
	        </div>
	    	<div class="col-md-4 project-item">
	    		<h3>Recipe Three Headline</h3>
                    <hr />
                    <span>A detailed description on the project or nature of your work, role and skills learned.</span>
	    	</div>
	    </div>